:root{
    --fontcolor: #555555;
    --firstcolor: #f6f6f6;
    --secondcolor: #000077;
    --thirdcolor: #af7f11;
}
body:not(#canv) {
    width: 100%;
    position: relative;
    margin: 0;
}
.contents {
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#canv{
    position: fixed;
    z-index: -10000;
    width: 100rem;
    height: 100vh;
}

@media screen and (max-width: 767px){

    #worktitle {
        font-size: 8rem;
        margin-left: 10rem;
        margin-top: 12rem;
        margin-bottom: 3rem;
    }

    .spec {
        margin-left: 10rem;
    }
    .spec img{
        width: 35rem;
        height: 35rem;
        margin-bottom: 8rem;
        border-radius: 50%;
    }
    .spec h3{
        margin-top: 0;
        width: 80rem;
        margin-right: 10rem;
        font-size: 5.5rem;
    }

    .contents h2{
        margin-top: 12rem;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 4rem;
        font-size: 6rem;
    }
    .contents h3:not(#spec){
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 12rem;
        font-size: 4rem;
        width: 80rem;
    }
    .contents li{
        margin-left: 10rem;
        margin-right: 10rem;
        width: 80rem;
    }

    #Contact {
        width: 80rem;
        margin-left: 10rem;
        margin-right: 10rem;
        border-top: solid 2px var(--fontcolor);
        border-bottom: solid 2px var(--fontcolor);
        font-size: 5rem;
        text-align: center;
        line-height: 10rem;
    }
}


@media screen and (min-width: 768px){
    #worktitle {
        font-size: 5rem;
        margin-left: 6rem;
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .spec {
        display: flex;
        margin-left: 6rem;
    }
    .spec img{
        width: 35rem;
        height: 35rem;
        margin-bottom: 8rem;
        margin-right: 6rem;
        border-radius: 50%;
    }
    .spec h3{
        margin-top: 6rem;
        width: 40rem;
        margin-right: 6rem;
        font-size: 3.5rem;
        line-height: 8rem;
    }

    .contents h2{
        margin-top: 8rem;
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 3rem;
        font-size: 3.5rem;
    }
    .contents h3:not(#spec){
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 8rem;
        font-size: 2.5rem;
        width: 88rem;
    }
    .contents li{
        margin-left: 6rem;
        margin-right: 6rem;
        width: 88rem;
    }

    #Contact {
        width: 88rem;
        margin-left: 6rem;
        margin-right: 6rem;
        border-top: solid 2px var(--fontcolor);
        border-bottom: solid 2px var(--fontcolor);
        font-size: 4rem;
        text-align: center;
        line-height: 7rem;
    }

}

