@media screen and (max-width: 767px){

    .spec {
        margin-left: 10rem;
    }
    .spec img{
        width: 35rem;
        height: 35rem;
        margin-bottom: 8rem;
        border-radius: 50%;
    }
    .spec h3{
        width: 85rem;
        margin: 0 5rem 0 0;
        font-size: 4.7rem;
        text-align: right;
        transform: translate(-5rem, -7rem);
    }

    #spec_flex{
        display: flex;
        align-items: baseline;
    }
    
    .contents h2{
        margin-top: 12rem;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 4rem;
        font-size: 6rem;
    }
    .contents h3:not(.spec h3){
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 12rem;
        font-size: 4rem;
        width: 80rem;
    }
    .contents li{
        width: 80rem;
        list-style: none;
    }

    #Contact {
        width: 80rem;
        margin-left: 10rem;
        margin-right: 10rem;
        border-top: solid 2px var(--fontcolor);
        border-bottom: solid 2px var(--fontcolor);
        font-size: 5rem;
        text-align: center;
        line-height: 10rem;
    }

    .pc{
        display: none;
    }
}


@media screen and (min-width: 768px){
    .spec {
        display: flex;
        margin-left: 6rem;
    }
    .spec img{
        width: 35rem;
        height: 35rem;
        margin-bottom: 8rem;
        margin-right: 6rem;
        border-radius: 50%;
    }
    .spec h3{
        width: 51rem;
        font-size: 3rem;
        line-height: 6rem;
    }

    .contents h2{
        margin-top: 8rem;
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 3rem;
        font-size: 3.5rem;
    }
    .contents h3:not(#spec){
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 8rem;
        font-size: 2.5rem;
        width: 88rem;
    }
    .contents li{
        margin-left: 6rem;
        margin-right: 6rem;
        width: 88rem;
    }

    #Contact {
        width: 88rem;
        margin-left: 6rem;
        margin-right: 6rem;
        border-top: solid 2px var(--fontcolor);
        border-bottom: solid 2px var(--fontcolor);
        font-size: 4rem;
        text-align: center;
        line-height: 7rem;
    }
    .sp{
        display: none;
    }
}

