.tags{
    display: flex;
}
.tags:nth-child(1){
    margin-right: 10%;
}
th a img{
    object-fit: contain;
}


@media screen and (max-width: 767px){

    .elements{
        width: 80rem;
        margin: 10rem;
    }
    .elements tr{
        margin-bottom: 10rem;
    }
    tr, th{
        display: block;
        margin-bottom: 20rem;
    }
    .element {
        width: 80rem;
        margin-bottom: 0;
    }
    .element img{
        width: 80rem;
        height: 52.8rem;
        margin-bottom: 0rem;
        border-bottom: solid 3px #666666;
        border-right: solid 3px #666666;
        border-radius: 5rem;
        background-color: white;
        object-fit: contain;
    }
    .elements h3 {
        margin: 0;
        text-align: center;
        line-height: 6rem;
        font-size: 4.5rem;
        padding: 3rem 0;
        
    }
    .elements th a{
        text-decoration: none;
    }
    .elements th a p{
        width: fit-content;
        padding: 1.5rem 8rem;
        background: white;
        border: solid 2px black;
        color: black;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px){

    .elements{
        width: 92rem;
        margin: 4rem;
    }
    .elements tr{
        margin-bottom: 2rem;
    }
    .element{
        width: 41rem;
        margin: 2.5rem;
    }
    .element img{
        width: 45rem;
        height: 31rem;
        margin-left: 5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-bottom: solid 3px #666666;
        border-right: solid 3px #666666;
        border-radius: 3rem;
        background-color: white;
        object-fit: contain;
    }
    .element img:hover{
        transform: scale(1.05);
    }
    .elements h3{
        margin: 0;
        text-align: left;
        font-size: 2.5rem;
        text-align: center;
    }
    .elements th a{
        text-decoration: none;
    }
    .elements th a p{
        width: fit-content;
        padding: 1.5rem 8rem;
        background: white;
        border: solid 2px black;
        color: black;
        margin: 2rem auto;
    }
}
html, body { 
    min-height: 100%; 
}
#designphoto{
    margin-bottom: 0;
}
