.sculpturework {
	border-top: 1px solid black;
}
.contents a p{
    text-align: right;
}

@media screen and (max-width: 767px){

    .sculpturework {
        width: 80rem;
        margin-left: 10rem;
        padding-top: 5rem;
        padding-bottom: 15rem;
    }
    .sculpturework h2, h3 {
        font-size: 6rem;
    }
    .sculpturework img{
	    width: 40rem;
        padding-left: 20rem;
    }
}



@media screen and (min-width: 768px){
        
        .sculpturework {
            width: 88rem;
            margin-left: 6rem;
            padding-top: 5rem;
            padding-bottom: 15rem;
        }
        .sculpturework h2, h3 {
            font-size: 4rem;
        }
        .sculpturework img{
            width: 30rem;
            padding-left: 29rem;
        }
}

